body {
  position: relative;
  margin: 0;
  padding: 0;
}

div, h1 {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  margin: 10px;
}

img {
  max-width: 100%;
}

#lunchGameWrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  display: none;
}

#confirmDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -100px;
  text-align: center;
  height: 150px;
  width: 200px;
  background-color: white;
  display: none;
}
#confirmDialog button {
  display: inline-block;
  margin: 10px;
}

#webframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: gray;
  color: white;
}

#webframeBackButton {
  border: 2px solid lightgray;
  background-color: gray;
  height: 40px;
  width: 40px;
  color: black;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

#promotionInfo {
  position: fixed;
  display: none;
  width: 200px;
  height: 200px;
  border: 2px solid yellow;
  background-color: white;
  top:50%;
  left:50%; 
  margin-left:-100px;
  margin-top:-100px;
}